body {
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    font-size: 30px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

.music_one_img {
    width: 70px;
    border-radius: 0px;
    float: left;
    margin-left: 10px;
}

#one {
    font-size: 23px;
    margin: 15px;
    margin-top: 150px;
    margin-left: -70px;
}

.music_two_img {
    width: 70px;
    border-radius: 0px;
    float: right;
    margin-right: 30px;
}

#two {
    font-size: 23px;
    margin: 15px;
    margin-top: -55px;
    float: right;
    margin-left: 1000px;
}

canvas {
    border : 5px solid white;
    border-radius: 20px;
    margin-top: 200px;
}

.play_button {
    width: 130px;
    font-size: 25px;
    margin-top: 25px;
}